
.wrapper{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 60px auto 60px auto;

}

.title{
    color: #EABB52FF;
    width: fit-content;
    font-size: 40px;
    margin: 0 0 40px 0;
    font-weight: 700;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #EABB52FF;
}

.text{
    display: flex;
    font-size: 20px;
    margin: 0 0 40px 0;
}

.buttonBlock{
    width: 230px;
    height: 50px;
}

.button{
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 10px 15px;
    background-color: #EABB52FF;
    &:hover{
        background-color: #b98b10 !important;
    }
}

.okButton{
    color: #FFFFFF;
    background-color: #EABB52FF;
    &:hover{
        color: #FFFFFF!important;
        border-color: #b98b10 !important;
        background-color: #b98b10 !important;
    }
}

